body {
  text-align: center;
  font-family: Arial;
  background: #111;
  color: white;
}

#game {
  width: 400px;
  height: 300px;
  margin: auto;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#333, #111);
}

#player {
  width: 30px;
  height: 30px;
  background: yellow;
  position: absolute;
  bottom: 0;
  left: 185px;
  transition: left 0.2s;
}

.obstacle {
  width: 30px;
  height: 40px;
  background: red;
  position: absolute;
  top: -40px;
}

.jump {
  animation: jump 0.5s;
}

@keyframes jump {
  0% { bottom: 0; }
  50% { bottom: 100px; }
  100% { bottom: 0; }
}
