body {
  text-align: center;
  font-family: Arial;
  background: #111;
  color: #fff;
}

#game {
  width: 400px;
  height: 200px;
  border: 2px solid white;
  margin: auto;
  position: relative;
  overflow: hidden;
  background: #222;
}

#player {
  width: 30px;
  height: 30px;
  background: yellow;
  position: absolute;
  bottom: 0;
  left: 50px;
}

#obstacle {
  width: 20px;
  height: 40px;
  background: red;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: move 2s linear infinite;
}

@keyframes move {
  from { right: -20px; }
  to { right: 400px; }
}

.jump {
  animation: jump 0.5s ease;
}

@keyframes jump {
  0% { bottom: 0; }
  50% { bottom: 80px; }
  100% { bottom: 0; }
}
